{% comment %}
  Usage: {% include social-icon.html icon="facebook" username=site.facebook_username label="Facebook" %}
  Or: {% include social-icon.html icon="facebook" url="https://custom-url.com" label="Facebook" %}
{% endcomment %}

{% assign icon_data = site.data.social_icons[include.icon] %}
{% assign base_url = icon_data.base_url %}
{% assign icon_label = include.label | default: icon_data.name %}

{% if include.url %}
  {% assign final_url = include.url %}
{% elsif include.username and base_url %}
  {% assign final_url = base_url | append: include.username %}
{% endif %}

{% if final_url %}
<a href="{{ final_url }}" class="social-icon" target="_blank" rel="noopener" aria-label="{{ icon_label }}">
  <svg width="24" height="24" fill="currentColor">
    <use href="#{{ include.icon }}"></use>
  </svg>
</a>
{% endif %}